
.productosExpuestos {
background-color: rgb(248, 247, 255)
}

#banner {
    width: 100%;
    
}

.valoresImg{
    width: 100%;
    height: auto;
    position: relative;
}

.imgShipping {
    width: 20px;
    height: auto;
    margin-top: 20px;
}

.textoProductos {
    font-weight: normal;
    
}

.precioProductos {
    font-weight: normal;
}

.descuento {
    color: rgb(23, 172, 23);

}

.precio {
    font-weight: bolder;
}


.tituloProducto{
    font-weight:normal;
    color: #4a4950;
    font-size: 20px; 

}

.footer {
    text-align: center;
}

.imgFooter {
    text-align: center;
}